<!DOCTYPE html>

<html lang="en"> 
    <head>
        <meta charset="utf-8" />
        <title>自傳履歷</title>
    </head>
    <body>
     
	 <body bgcolor="#C9FFFF"text="000000">
	
	<h2>自傳履歷</h2><hr>
	<h5>我的名字是吳芷芸，彰化員林人，目前就讀靜宜大學資管系。家裡是做中古機車買賣，從我爺爺那時就開始經營，家庭經濟小康，他們刻苦奮鬥的精神深深地影響我，不僅讓我勇敢地面對問題，更相信「想要有收穫，一定要先耕種」。從小因為好奇心對任何不確定的人事物都抱持著疑問，造就了我敏銳的觀察力，喜歡分析及獨立思考，對尋求問題的解決方法有意乎常人的意志力及毅力。

我的高中生活中，我很樂意為班上服務，也極力做好每件事情，曾擔任風紀股長，學習到人與人之間的溝通，才能使別人願意配合而不致影響人際關係，以及養成負責任的好習慣，這段時間與老師向處融洽，體會到亦師亦友的情形。

學業上，強烈的求知慾和貫徹始終的態度，讓我在學業上抱持著興趣去做學習，成績雖有起有落，可在這其中我能在低潮中讓情緒恢復冷靜。課業之餘，我高一參加了吉他社，是因為姐姐讓我了解到原來音樂能讓你紓解生活中的壓力，使自己的身心能保持在最佳狀態，我喜歡看散文集並利用文筆來寫出自己的心情與想法，因為它的平易近人，淺顯易懂，使生活在忙碌的我，毫無預警的深入我心。除此之外，我也喜歡健身，有良好的體態能讓我更有自信，適當的運動也能讓生活更充實。我覺得我個性上的優點就是擁有樂觀進取的態度及對事物有強烈的敏銳度。樂觀的個性使我遇到挫折能夠馬上站起來，在做人處事上，因為一顆細膩的心，總是能完美的將事情圓滿收場。。</h5>

    </body>
</html>